
@model SPJMD.Models.ViewModels.ModeloPostGrad

@{
    ViewData["Title"] = "Novo";

}

<h1>@ViewData["Title"]</h1>

<h4>Policial Militar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Policial.Re" class="form-label"></label>
                <input asp-for="Policial.Re" class="form-control" autofocus="" tabindex="0" />
                <span asp-validation-for="Policial.Re" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policial.Digito" class="form-label mt-3"></label>
                <input asp-for="Policial.Digito" class="form-control text-uppercase" />
                <span asp-validation-for="Policial.Digito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policial.Graduacao" class="form-label mt-3"></label>
                <select asp-for="Policial.Graduacao" asp-items="Html.GetEnumSelectList<SPJMD.Models.Enums.PostGrad>()"
                        class="form-select">
                    <option selected="selected" value="">Selecionar</option>
                </select>
                <span asp-validation-for="Policial.Graduacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policial.Nome" class="form-label mt-3"></label>
                <input asp-for="Policial.Nome" class="form-control text-uppercase" />
                <span asp-validation-for="Policial.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policial.Status" class="form-label mt-3"></label>
                <select asp-for="Policial.Status" asp-items="Html.GetEnumSelectList<SPJMD.Models.Enums.QualificacaoEnvolvido>()"
                        class="form-select ">
                    <option selected="selected" value="">Selecionar</option>
                </select>
                <span asp-validation-for="Policial.Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">

                <button type="submit" class="btn btn-outline-primary">Salvar</button>
                <button type="reset" class="btn btn-outline-dark ms-2">Limpar</button>
                <a asp-action="Index" class="btn btn-outline-dark ms-sm-6">Retornar</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
