@model SPJMD.Models.Policial

@{
    ViewData["Title"] = "Editar";
}

<h1>@ViewData["Title"]</h1>
<br />

<h4>Policial Militar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />



            <div class="form-group">
                <label asp-for="Re" class="control-label"></label>
                <input asp-for="Re" class="form-control" />
                <span asp-validation-for="Re" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Digito" class="control-label"></label>
                <input asp-for="Digito" class="form-control" />
                <span asp-validation-for="Digito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Graduacao" class="control-label"></label>
                <select asp-for="Graduacao" asp-items="Html.GetEnumSelectList<SPJMD.Models.Enums.PostGrad>()" class="form-control"></select>
                <span asp-validation-for="Graduacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control text-uppercase" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<SPJMD.Models.Enums.QualificacaoEnvolvido>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-outline-dark" /> |
                <a asp-action="Index" class="btn btn-outline-dark">Retornar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
