@model IEnumerable<SPJMD.Models.Policial>

@{
    ViewData["Title"] = "Policial Miliar";
}

<h1>@ViewData["Title"]</h1>


<div class="row col-md-5">
    <div class="form-control bg-success bg-opacity-10 border-bottom box-shadow mb-3">
        <form asp-action="BuscaSimples">
            <fieldset>
                <legend>Pesquisa</legend>
                <div class="form-group">
                   
                    <div class="col-lg-12">
                        <input type="text" name="re" class="form-control" autofocus="" tabindex="0"/>
                    </div>
                </div>
                <br />  
                <div class="form-group">
                    <div class="col-lg-10 col-li-offset-2">
                        <button type="submit" class="btn btn-outline-dark">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br />


<div class="row col-md-5">
    <div class="form-control bg-success bg-opacity-10 border-bottom box-shadow mb-3">
        <div class="form-group">
            <fieldset>
                <legend>Cadastrar</legend>
                <a asp-action="Create" class="btn btn-outline-dark">Novo</a>
            </fieldset>           
        </div>       
    </div> 
</div>   



